@import url('https://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz');
:root {
--heading-font: "Oswald";
--paragraph-font: "Yanone Kaffeesatz", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--heading-font);
   color: var(--headline-color-on-white);
 }

 p, a {
   font-family: var(--paragraph-font);
 }

#content {
   max-width: 100%;
   margin: 0 auto;
   
   /*border: 2px solid #2a9d8f;
   border-radius: 50px 50px 0 0;*/
 }

header {
   display: grid;
   grid-template-columns: 100px auto;
   align-items: center;
   background-color: #BDD4F2;
   border-radius: 50px;
   /* margin-bottom: 10px; */

   /* Fixed header */
   position: fixed;
   top: 0;
   width: 100%;

 }

 .logo-box {
   background-color:white;
   border: 5px solid #64A4F8;
   border-radius: 50px;
   padding: 0.5em;
 }
 
 .logo-box img {
   width: 100%;
   margin-left: 5px;
   margin-bottom: -5px;
 }
 
 nav ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
   margin: 0;
 }

 nav a {
   color: black;
   text-decoration: none;
   font-size: 150%;
 }
 
 nav a:hover { 
   text-decoration:underline;
   color: #64A4F8;
 }
 
 #hero {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   margin-top: 100px;
 }
 
 #hero-box {
   grid-column: 1/4;
   grid-row: 1/3;
   /* max-width: 70%; */
 }
 
#hero img {
   text-align: center;
   width: 100%;
   /* align-items: center; */
   /* grid-column: 1/4; */
}

 #hero-msg {
   grid-column: 2/3;
   grid-row: 2/3;
   text-align: center;
   font-size: 150%;
   background-color: rgba(0, 0, 0, 0.473);
 }
 
 #hero-msg h1, p, a {
   color: white;
 }
 
 .home-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 1em;
   margin-top: 1em;
 }
 
 .home-grid p {
    color: black;
    font-size: 150%;
 }

 .home-grid h2 {
    background-color: #BDD4F2;
    border: 5px solid #64A4F8;
    border-radius: 50px;
 }

 .dinner-recipes-title {
   margin-bottom: -10px;
   grid-column: 1/4;
   grid-row: 1/2;
   padding: 1em;
 }
 
 .dinner-recipes-paragraph {
   padding: 1em;
   margin: 0px;
   grid-column: 1/4;
   grid-row: 2/4;
 }
 
 .dinner-recipes-img {
   
   grid-column: 4/6;
   grid-row: 1/3;
   /* width: 100%; */
 }
 
 .help-title {
   margin-bottom: -10px;
   grid-column: 3/6;
   grid-row: 3/4;
   padding: 1em;
 }
 
 .help-paragraph {
   padding: 1em;
   margin: 0px;
   grid-column: 3/6;
   grid-row: 4/6;
 }
 
 .help-img {
   margin-left: 10px;
   grid-column: 1/3;
   grid-row: 3/5;
 }
 
 .dinner-recipes-img,
 .help-img {
   max-width: 80%;
   border: 10px solid #64A4F8;
   transition: transform .5s;
   box-shadow: 5px 5px 10px #6f7364;
   margin: 25px;
 }
 
 /* .dinner-recipes-img:hover,
 .help-img:hover {
   opacity: .6;
   transform: scale(1.1);
 } */
 










 footer {
   display: flex;
   background-color: #BDD4F2;
   padding: 1em;
   margin-top: 100px;
   justify-content: space-around;
   align-items: center;
   /* height: 55px; */
   border-radius: 50px;

 }
 
 footer a {
   color: black;
   font-size: 150%;
   text-decoration: none;
 }
 
 footer a:hover { 
   text-decoration: underline;
   color: #64A4F8;
 }
 
 .social {
   grid-column: 2/3;
   /* padding: 1em; */
   /* text-align: center; */
   /* margin-top: -1px; */
   /* margin-right: -10px; */
 }
 
 .social img {
   height: 50px;  
 }